<?php
// module/Users/view/users/users/delete.phtml:

$title = 'Delete User';
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>

<p>Are you sure that you want to delete
    '<?php echo $this->escapeHtml($users->name); ?>'?
</p>
<?php
$url = $this->url('users', array(
    'action' => 'delete',
    'id' => $this->id,
        ));
?>
<form action="<?php echo $url; ?>" method="post">
    <div>
        <input type="hidden" name="id" value="<?php echo (int) $users->id; ?>" />
        <input type="submit" class="btn btn-success" name="del" value="Yes" />
        <input type="submit" name="del" class="btn btn-danger" value="No" />
    </div>
</form>
